// PRODUCTS

.hero--products {
    padding-bottom: 0;
    
    .tool-logos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 340px;
        margin-top: 30px;
       
        .tool-logo {
            margin: 0;
            margin-left: 20px;
            margin-right: 20px;

            @media #{$tablet-ipad} {
                margin-left: 30px;
                margin-right: 30px;
            }
        }

        .img-container {
            width: 40px;
            transition: ease .5s all;

            img {
                transition: ease .5s all;
            }

            @media #{$desktop} {
                &:hover img {
                    transform: scale(1.15);
                }
            }
        }
    }
    
}


.featured-product {
    padding-bottom: 50px;

    @media #{$desktop} {
        padding-bottom: 70px;
    }

    .featured-product-content {
        max-width: 550px;

        @media #{$tablet-ipad} {
            max-width: 100%;
        }
    }
    
    .featured-product__cover-img {
        border-radius: 4px;
        box-shadow: 0 0px 1px 0px rgba(0, 0, 0, .05),
        0 1px 4px rgba(0, 0, 0, .05),
        0 10px 20px rgba(0, 0, 0, .05);
        margin-bottom: 30px;
        overflow: hidden;
        transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);

        @media #{$tablet-ipad} {
            margin-bottom: 40px;
        }

        &:hover {
            @media #{$desktop} {
                transform: translateY(-5px);
                box-shadow: 0 0px 1px 0px rgba(0, 0, 0, .05),
                0 4px 12px rgba(0, 0, 0, .05),
                0 15px 30px rgba(0, 0, 0, .10);
            }
        }
    }

    .product-details-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        @media #{$tablet-ipad} {
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 40px;
        }

        .column {
            margin: 0;

            @media #{$tablet-ipad} {
                width: 48%;
            }

            @media #{$desktop-big} {
                width: 46%;
            }
        }
    }

    .title {
        margin: 0;
    }

    .description {
        margin-left: 0;
        margin-right: 0;


        p {
            @media #{$tablet-ipad} {
                margin-bottom: 0;
            }
        }
    }

    .featured-product__title {
        font-weight: $font-weight__bold;

        @media #{$tablet-ipad} {
            font-size: 30px;
        }

        @media #{$desktop} {
            font-size: 38px;
        }

        @media #{$desktop-big} {
            font-size: 42px;
        }
    }

    .cta-buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 30px;
        margin-left: 0;
        margin-right: 0;

        @media #{$tablet-ipad} {
            margin-bottom: 0;
        }

        .button {
            margin-left: 0;
            margin-right: 0;
            flex: none;
        }
    
        .button--link {
            color: $brand-color;
            width: auto;
            margin-left: 10px;
            margin-right: 0;
            display: inline-flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            transition: ease .3s all;

            @media #{$mobile-i6} {
                margin-left: 20px;
            }

            @media #{$desktop} {
                &:hover {
                    color: $brand-color-dark;
                }

                &:hover .play-button-icon__circle {
                    stroke: $brand-color-dark;
                }

                &:hover .play-button-icon__triangle {
                    fill: $brand-color-dark;
                }
            }

            .icon {
                margin-right: 8px;
            }

            .play-button-icon__circle {
                stroke: $brand-color;
                transition: ease .3s all;
            }

            .play-button-icon__triangle {
                fill: $brand-color;
                transition: ease .3s all;
            }
        }
    }
    
    blockquote {
        p {
            font-style: italic;
            opacity: .7;
            margin-bottom: 5px;

            @media #{$tablet-ipad} {
                font-size: 16px;
            }

            @media #{$desktop} {
                font-size: 18px;
            }
        }

        cite {
            font-style: normal;
            opacity: .4;
            margin-bottom: 0;
            font-size: 16px;
        }
    }

    .testimonials {
        display: flex;
        flex-direction: column;

        @media #{$tablet-ipad} {
            flex-direction: row;
            justify-content: space-between;
        }

        .testimonial {
            margin-bottom: 25px;
            margin-left: 0;
            margin-right: 0;

            @media #{$tablet-ipad} {
                width: 48%;
                margin-bottom: 0;
            }

            @media #{$desktop-big} {
                width: 46%;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

}



.products-slide {
    padding-top: 50px;
    padding-bottom: 0;

    @media #{$desktop} {
        padding-top: 70px;
    }

    .products-all-container {
        max-width: 550px;

        @media #{$tablet-ipad} {
            max-width: 100%;
        }
    }
    
    .products-section-small-title {
        margin-bottom: 30px;
    }
    
    .products {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;

        @media #{$tablet-ipad} {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    .product {
        margin-bottom: 40px;
        margin-left: 0;
        margin-right: 0;

        @media #{$tablet} {
            margin-bottom: 60px;
        }

        @media #{$tablet-ipad} {
            width: 48%;
        }

        @media #{$desktop-big} {
            width: 46%;
        }

        @media #{$desktop} {
            margin-bottom: 70px;

            &:hover .product__img-cover {
                transform: translateY(-3px);
                box-shadow: 0 0px 1px 0px rgba(0, 0, 0, .05),
                0 2px 8px rgba(0, 0, 0, .05),
                0 15px 30px rgba(0, 0, 0, .15);
            }

            &:hover .product__title {
                color: $brand-color;
            }
        }
    }

    .product__img-cover {
        height: 200px;
        margin-bottom: 15px;
        border-radius: 4px;
        box-shadow: 0 0px 1px 0px rgba(0, 0, 0, .05),
        0 1px 4px rgba(0, 0, 0, .05),
        0 10px 20px rgba(0, 0, 0, .05);
        transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);

        @media #{$mobile-i6} {
            height: 230px;
        }

        @media #{$tablet} {
            height: 330px;
        }

        @media #{$tablet-ipad} {
            height: 240px;
        }

        @media #{$desktop} {
            height: 280px;
            margin-bottom: 20px;
        }

        @media #{$desktop-big} {
            height: 320px;
        }
    }

    .product__title {
        font-size: 18px;
        margin-left: 0;
        margin-right: 0;
        transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
       
        @media #{$mobile-i6} {
            margin-bottom: 0;
        }

        @media #{$tablet} {
            font-size: 22px;
        }

        @media #{$tablet-ipad} {
            font-size: 18px;
        }

        @media #{$desktop} {
            font-size: 22px;
        }
    }

    .button--small {
        font-size: 14px;
        padding: 6px 12px;
        margin-left: 0;
        flex: none;

        @media #{$mobile-i6} {
            margin-left: 10px;
            margin-right: 0;
        }  
    }

    .product-text {
        display: flex;
        flex-direction: column;

        @media #{$mobile-i6} {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
}


.products-share-container {
    background-color: $grey-98;
    padding-top: 50px;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 70px;

    @media #{$tablet} {
        padding-top: 80px;
        padding-bottom: 100px;
    }

    @media #{$tablet-ipad} {
        margin-left: 4%;
        margin-right: 4%;
        border-radius: 4px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 90px;
    }

    @media #{$desktop} {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 110px;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @media #{$desktop-big} {
        max-width: 1100px;
        margin-bottom: 120px;
    }

    .products-share-content {
        max-width: 550px;

        @media #{$desktop} {
            max-width: 700px;
        }

        .page-h2 {
            @media #{$desktop} {
                font-size: 60px;
            }
        }

        .content-lead {
            margin-bottom: 30px;
        }
    }

    .email-form-container {
        max-width: 450px;
    }

    .twitter-share-container {
        margin-top: 50px;
        max-width: 320px;

        @media #{$tablet-ipad} {
            max-width: 360px;
        }

        .icon-container {
            margin-right: 10px;
            margin-left: 0;
        }

        .icon {
            width: 50px;
            height: 50px;
            background-color: $white;
            border-radius: 50%;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .1),
            0 5px 10px rgba(0, 0, 0, .05);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: ease .3s all;

            .social-icon-color {
                transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
                fill: $twitter;
            }
        }

        .twitter-share {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            @media #{$desktop} {
                &:hover .twitter-share-text {
                    color: $brand-color;
                }

                &:hover .icon {
                    transform: scale(1.05);
                    box-shadow: 0 0px 2px rgba(0, 0, 0, .15),
                    0 10px 20px rgba(0, 0, 0, .1);
                }
            }
        }

        .twitter-share-text {
            font-size: 14px;
            margin-bottom: 0;
            text-align: left;
            margin-left: 0;
            margin-right: 0;
            transition: ease .3s all;

            @media #{$tablet-ipad} {
                font-size: 16px;
            }

            .text {
                display: inline;
                font-style: italic;
                font-size: inherit;
                color: inherit;
            }
        }
    }
}