$font__heading:                              "proxima-nova",sans-serif;
$font__body:                                  "proxima-nova",sans-serif;

$font-size__base:                          16px;
$font-size__big:						    18px;

$font-weight__regular:                     400;
$font-weight__semibold:						600;
$font-weight__bold:                        700;
$font-weight__extrabold:                       800;

$line-height__regular:                        1.6;
$line-height__header:					 	1.3;


