// BUTTONS

.button {
	font-family: $font__heading;
	font-weight: $font-weight__semibold;
	font-size: 16px;
	color: $white;
	background-color: $brand-color;
	padding: 10px 24px;
	letter-spacing: 0px;
	box-shadow:
	inset 0 -1px 0 rgba(0, 0, 0, .1),
	0 1px 2px rgba(28, 35, 139, .1),
	0 2px 5px rgba(41, 52, 204, .2);
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	border-radius: 4px;
	margin-bottom: 0;
	border: none;
	transition: .3s ease;

	@media #{$mobile-i6} {
		padding: 10px 24px;
	}

	@media #{$desktop} {
		&:hover {
			box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1), 
			0 2px 6px rgba(0, 0, 0, .05),
			0 7px 14px rgba(28, 35, 139, .15);
			transform: translateY(-1px);
			background-color: $brand-color-hover;
		}
	}
}

a.button {
	width: auto;
	height: auto;
}

.button--white {
	background-color: $white;
	color: $brand-color;
	box-shadow: 0 0 0 0.5px rgba(0, 0, 0, .03),
	0 1px 2px rgba(0, 0, 0, .05),
	0 2px 6px rgba(0, 0, 0, .10);

	&:hover {
		background-color: $white;
		box-shadow: 0 0 0 0.5px rgba(0, 0, 0, .04), 
		0 2px 6px rgba(0, 0, 0, .05), 
		0 7px 14px rgba(0, 0, 0, .1);
	}
}

.button--navigation {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 14px;
	box-shadow:
	0 1px 2px rgba(41, 52, 204, .1),
	0 2px 4px rgba(41, 52, 204, .2);

	@media #{$desktop} {
		&:hover {
			box-shadow: 0 5px 15px rgba(0, 0, 0, .06);
		}
	}
}



.cta-link {
	color: $brand-color;
	font-weight: $font-weight__semibold;
	font-size: 18px;
	vertical-align: middle;
	width: auto;
	display: inline-block;
	transition: .3s;

	@media #{$desktop} {
		font-size: 21px;
	}


	&:hover .chevron {
		@media #{$desktop} {
			transform: rotate(45deg) translate(3px, -3px);
		}
	}

	.chevron {
		display: inline-block;
		vertical-align: middle;
		width: 5px;
		height: 5px;
		border-width: 2px 2px 0 0;
		border-color: $brand-color;
		border-style: solid;
		transform: rotate(45deg);
		margin-left: 6px;
		margin-top: -1px;
		transition: .3s;
		will-change: transform;
	}
}

.cta-link--dribbble {
	color: $dribbble;

	.chevron {
		border-color: $dribbble;
	}
}

.cta-link--white {
	color: $white;

	.chevron {
		border-color: $white;
	}
}

.invision-link {
	color: $invision;
	font-weight: $font-weight__semibold;
}

.craft-link {
	color: $craft;
	font-weight: $font-weight__semibold;
}
