.wrapper {
	padding: 0 4%;

	@media #{$tablet-ipad} {
		padding: 0 4%;
	}

	@media #{$desktop} {
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		max-width: 900px;
	}

	@media #{$desktop-big} {
		max-width: 1100px;
	}
}
